#bound {
    display: grid;
    grid-template-columns: 1fr 883px 1fr;
}
#keyboard {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: repeat(6, 50px);
    row-gap: 5px;
    justify-content: center;
    border: outset 5px;
    border-radius: 35px / 40px;
    padding: 3px 0px 5px;
    animation: bd-col 30000ms ease-in-out 0ms infinite normal;
}
div[id^="kbr"] {
    display: grid;
    grid-template-rows: 50px;
    justify-self: left;
}
#kbr1 {
    grid-template-columns: repeat(13, 49px) repeat(3, 50px);
    column-gap: 4px;
}
#kbr2 {
    grid-template-columns: 10px repeat(13, 50px) 75px;
    column-gap: 7px;
}
#kbr3 {
    grid-template-columns: 80px repeat(13, 50px);
    column-gap: 9px;
}
#kbr4 {
    grid-template-columns: 90px repeat(11, 50px) 111px;
    column-gap: 8px;
}
#kbr5 {
    grid-template-columns: 5px 95px repeat(11, 50px) 95px;
    column-gap: 7px;
}
#kbr6 {
    grid-template-columns: 24px repeat(4, 50px) 265px repeat(5, 50px);
    column-gap: 5px;
}

span {
    text-align: center;
    font-family: "Bodoni MT", "Comic Sans MS";
    color: rgb(255, 255, 255);
    border: outset 7px;
    border-radius: 2em;
}
span:not(.blank) {
    animation: bd-col 30000ms ease-in-out 0ms infinite normal, bg-col 30000ms ease-in-out 0ms infinite normal;
}
span:hover {
    font-family: "Bodoni MT", "Comic Sans MS";
    color: rgb(255, 255, 255);
    border-style: outset 7px rgb(90, 3, 0); 
    animation: bd-col 30000ms ease-in-out 0ms infinite normal, bg-col-hov 30000ms ease-in-out 0ms infinite normal;
}
span.blank {
    border-color: transparent;
    background-color: transparent;
}

h2 {
    font-family: "Comic Sans MS";
    font-size: 50px;
    color: rgb(88, 4, 4);
    text-decoration: underline;
}
p {
    font-family: "Comic Sans MS";
    font-size: 20px;
    line-height: 0;
}

@keyframes bd-col {
    0%, 100% {border-color: rgb(255, 0, 0);}
    20% {border-color: rgb(255, 196, 0);}
    40% {border-color: rgb(38, 219, 14);}
    60% {border-color: rgb(0, 102, 255);}
    80% {border-color: rgb(195, 0, 255);}
}
@keyframes bg-col {
    0%, 100% {background-color: rgba(255, 0, 0, 0.5);}
    20% {background-color: rgba(255, 196, 0, 0.5);}
    40% {background-color: rgba(38, 219, 14, 0.5);}
    60% {background-color: rgba(0, 102, 255, 0.5);}
    80% {background-color: rgba(195, 0, 255, 0.5);}
}
@keyframes bg-col-hov {
    0%, 100% {background-color: rgba(255, 0, 0, 0.75);}
    20% {background-color: rgba(255, 196, 0, 0.75);}
    40% {background-color: rgba(38, 219, 14, 0.75);}
    60% {background-color: rgba(0, 102, 255, 0.75);}
    80% {background-color: rgba(195, 0, 255, 0.75);}
}